snippet feature "feature commit message"
feat(${1:component}): ${2:ISSUE_KEY} ${3:comment} `!p snip.rv = f"#close #comment {t[3]}" if t[2] else ""`
endsnippet

snippet fix "fix commit message"
fix(${1:component}): ${2:ISSUE_KEY} ${3:comment} `!p snip.rv = f"#close #comment {t[3]}" if t[2] else ""`
endsnippet

snippet refactor "refactor commit message"
refactor(${1:component}): ${2:ISSUE_KEY} ${3:comment} `!p snip.rv = f"#close #comment {t[3]}" if t[2] else ""`
endsnippet
