[Unit]
Description=Clipmenu daemon

[Service]
ExecStart=/usr/local/bin/clipmenud
Restart=always
RestartSec=500ms
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
ProtectControlGroups=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=
RestrictRealtime=yes
TimeoutStopSec=2
; EnvironmentFile=/home/sergio/.config/clipmenud

[Install]
WantedBy=default.target
